@font-face {
    font-family: 'Prompt';
    font-weight: 300;
    src: url('./fonts/Prompt-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Prompt';
    font-weight: 400;
    src: url('./fonts/Prompt-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Prompt';
    font-weight: 500;
    src: url('./fonts/Prompt-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Prompt';
    font-weight: 600;
    src: url('./fonts/Prompt-SemiBold.woff2') format('woff2');
}

